/*tipos de fuentes google gratis */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');


* {                         /*border-box es especialmente útil en diseños responsivos */
    box-sizing: border-box; /* Garantiza que el padding no afecte el tamaño de los elementos */
    margin: 0;
    padding: 0;
}

/* Asegurarse de que html y body ocupen toda la altura de la ventana del navegador */
html, body {
    /*background-image: url(../img/pattern.png);*/
    font-family: "Roboto", system-ui;
    font-style: normal;
    font-weight: 400px;
    color: black;
    height: 100%;  /* La altura total de la ventana */
    width: 100%;   /* El ancho total de la ventana */
    /* display: flex; */ /* Usamos Flexbox para permitir que el contenedor ocupe todo el espacio */
    flex-direction: column; /* Establecemos la dirección vertical para que ocupe toda la pantalla */
}

/* Contenedor principal que ocupa toda la pantalla */
.contenedor {
    display: grid;
    grid-template-columns: 250px 1fr;  /* Primera columna de 250px y segunda columna (resto del espacio) */
    grid-template-rows: 65px 1fr;     /* Fila 1: 65px (titulo), Fila 2: 1fr (cuerpo) */
    height: 100vh; /* Asegura que ocupe el 100% de la altura del navegador */
    width: 100%;   /* Asegura que ocupe el 100% de la pantalla en ancho */
    /*background-color:deepskyblue;*/
    /* border: 2px solid red;    solo para comprobar el grid*/
}

/* Estilos para la columna de menú */
.divMenu {
    /*background-color: #f1f1f1; /* Color de fondo */
    border-right: 2px solid #ffffff; /* Línea divisoria entre columnas */
    padding: 4px;
    width: 100%;
    height: 100vh;  /* Asegura que ocupe toda la altura disponible de la columna */
    /*border: 2px solid blueviolet; solo para comprobar el grid*/
}

/* Estilos para la columna principal(izquierda) (donde estará el título y debjo el cuerpo) */
.divPrincipal {
    display: grid; 
    grid-template-rows: 65px 1fr; /* Dos filas: una para el título de 65px y otra para el cuerpo */
    width: 100%;
    height: 100vh;  /* Asegura que ocupe toda la altura disponible de la columna */
    /*border: 2px solid orange;    solo para comprobar el grid*/
}

/* Estilos para la fila del título */
.divTitulo {
    /*background-color: #FFD700;  /* Color de fondo del título */
    overflow: hidden;  /* Recorta el contenido que se desborda */
    position: relative; /* Asegura que el contenido se mantenga dentro */
    height: 65px;  /* Altura fija de 65px */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente */
    font-weight: bold;
    border: 2px solid rgb(204, 204, 204); /*solo para comprobar el grid*/
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
    margin:5px;
    border-radius: 10px;
}


#titulo {
    /*font-family: 'Codystar', sans-serif; /*'Lilita One', sans-serif;*/
    font-family: 'Saira Stencil One', sans-serif;
    color:black;
    /*font-size: 300%;*/
    font-size: clamp(1rem, 3vw, 3em); /* Ajustar el tamaño de la fuente al ancho de la ventana */
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;  /* Hace que las palabras largas se ajusten */
    margin: 0; /* Elimina márgenes por defecto */
    /*position: absolute; /* Establece la posición como absoluta */
    /*top: 5px; /* 50px desde la parte superior de la página */
    /*left: 150px; /* 50px desde el borde izquierdo de la página */
    /* background-color: #ffd900; */
    
}

/* La imagen en la cabecera */
.imagen-enlace {
    position: absolute; /* Establece la posición como absoluta */
    /*top: x_px; /* x_px desde la parte superior de la página */
    margin-top: 5px;  /* Desplaza la imagen 5px hacia abajo */
    left: 20px; /* 50px desde el borde izquierdo de la página */
    width: 50px; /* Ajusta el ancho de la imagen */
    margin-right: 50px; /* Separación entre la imagen y el título */
    margin-left: 50px; /* Separación entre la imagen y el borde izq*/
    height: auto; /* Mantiene la proporción de la imagen */
}

/* **************************************************** */
/* Estilo de la imagen dentro del enlace */
.divMenu a img {
    width: 40px;                  /* Tamaño inicial de la imagen */
    height: auto;                 /* Mantener la proporción de la imagen */
    margin-right: 0px;           /* Espacio entre la imagen y el texto */
    transition: all 0.3s ease;    /* Transición suave para el cambio de tamaño */
}

/* Aumentar el tamaño de la imagen al pasar el ratón por encima del enlace */
.divMenu a:hover img {
    width: 100px;                  /* Nuevo tamaño de la imagen al pasar el ratón +grande */
    height: auto;                 /* Mantener la proporción de la imagen */
}

.divMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0px;
}

.divMenu li {
    font-family: "Roboto", system-ui;
    color:red;
    margin: 1px 0;
    padding: 0px;
    /* text-align: center;
    cursor: pointer; 
    font-weight: 900;
    line-height: 20px; /* altura todos los li */
    /*font-size: 18px;
    margin-bottom: 10px; /*hueco entre botones li*/
    /*letter-spacing: 2px; Ajustado para reducir la separación entre caracteres */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}



.divMenu li:hover {
    color: blue; 
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  */
}

/* Estilos para la columna de menú */
.divMenu {

    display: flex; /* Usamos flexbox para ordenar los elementos dentro del menú */
    flex-direction: column; /* Coloca los elementos en una columna vertical */
    justify-content: flex-start; /* Alinea todo el contenido hacia la parte superior */
    border-right: 2px solid white; /* Línea divisoria entre la columna menu y la principal */
    padding-left: 20px; /*margen izq*/
    padding-right: 20px; /*margen der*/
    width: 100%;
    height: 100vh;  /* Asegura que ocupe toda la altura disponible de la columna */
    /* border: 2px solid blueviolet;     solo para comprobar el grid*/
}

/* Estilo para los enlaces dentro de los li */
#listado-tren a {
    color: black;
    display: block; 
    text-align: center;
    cursor: pointer; 
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2px; /* Ajustado para mayor legibilidad */
    padding: 10px; /* Ajustado para que la altura sea adecuada */
    background-color:gray;    
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

#listado-menu a {
    color: blue;
    display: block; 
    text-align: center;
    cursor: pointer; 
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2px; 
    padding: 10px;
    background-color: orange;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
/* Estilo específico para el enlace con serie-tren="menu" */
#listado-tren a[serie-tren="menu"] {
    background-color:#ffd900 !important;  /* Cambia el fondo al amarillo del icono */
    color: black !important;  /* Asegura que el texto sea negro para mejor visibilidad */
}
/* Estilo para el enlace con serie-tren="menu" cuando está seleccionado */
#listado-tren a[serie-tren="menu"].selected {
    background-color: rgb(0, 0, 0) !important;  /* Fondo amarillo cuando está seleccionado */
    color: black !important;  /* Asegura que el texto sea negro para mejor visibilidad */
}

#listado-tren a:hover {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 20px;
    color:white;
    background-color: black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

#listado-menu a:hover {  
    /* font-family: 'Roboto', sans-serif; */
    font-size: 20px;
    color: orange;
    background-color: black; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

#listado-tren li {
    background-color: rgb(255, 255, 255); 
}

#listado-menu li {
    background-color: rgb(255, 255, 255); 
    margin: 0;
    padding: 0;
}

#imagen-4100, #imagen-4200 {
    display: inline-block;  /* Para que las imágenes se comporten como bloques */
    

}

/* Estilo para el botón seleccionado */
.selected {
    background-color:black !important;
    color: white !important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* FIN Estilo para los enlaces dentro de los li */




/* Estilos para el cuerpo debajo del título */
.divCuerpo {
    grid-row-start: 2; /* Esto asegura que se coloque en la segunda fila del grid */
    border: 2px solid white;
    /* centrar el interior del cuerpo */
    display: flex;             
    flex-direction: column;   /* Activamos Flexbox columnas*/
    /*justify-content: center;  /* Centra horizontalmente */
    /*  align-items: center;      /* Centra verticalmente */
    height: 100%;             /* Asegura que ocupe todo el espacio disponible en su contenedor */
    min-height: 0; /* Asegura que no tenga un tamaño mínimo no deseado */

}

#cuerpo {
    /* width: 100%; */
    /*height: 100%; /* Asegura que ocupe todo el espacio disponible */
    display: flex;              /* Activamos el modelo Flexbox en el contenedor */
    flex-direction: column;     /* Asegura que los elementos se apilen de arriba a abajo */
    justify-content: top;    /* Centra el contenido de arriba hacia abajo (vertical) */
    align-items: center;        /* Centra el contenido de izquierda a derecha (horizontal) */
    height: 100vh;              /* Asegura que el contenedor ocupe toda la altura de la ventana */
    width: 100%;                /* Asegura que el contenedor ocupe todo el ancho de la ventana */
    /* border: 2px solid orange; */
}

#imagenTren {

    margin-top: 75px;
}

/* Asegura que la imagen se ajuste correctamente */
#cuerpo img {
    max-width: 100%; /* Para que no se salga del contenedor */
    height: auto;    /* Mantiene la relación de aspecto */
}




/* columnas de texto: generalidades ******************************************************** */
.containerGeneralidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columnas iguales */
    gap: 10px; /* Espacio entre las columnas */
  }

  .columnasTexto {
    padding: 10px; /* Añadir algo de espacio dentro de las columnas */
  }

.columnasTexto h2{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.columnasTexto h4{
    font-weight: bold;
}